/**
|
| vendor
|
**/

@import 'vendor/font-awesome/font-awesome';


/**
|
| components
|
**/


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
/**
|    temp
*/

$color:yellow;

body{
	background-color: $color;
	h1{
		color: #dedede;
	}
}